<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--&lt;!&ndash;通过下标构造&ndash;&gt;-->
    <!--<bean id="user" class="com.min.pojo.User">-->
        <!--<constructor-arg index="0" value="赵敏"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash;通过类型构造&ndash;&gt;-->
    <!--<bean id="user" class="com.min.pojo.User">-->
        <!--<constructor-arg type="java.lang.String" value="王一博"/>-->
    <!--</bean>-->

    <!--通过参数名构造对象-->
    <bean id="user" class="com.min.pojo.User">
        <!--<constructor-arg name="name" value="赵敏8"/>-->
        <constructor-arg value="赵敏8"/>
    </bean>
    <!--如果添加别名，可以使用别名获取到对象-->
    <alias name="user" alias="user2"/>

    <!--id:bean的唯一标识符，也就是相当于我们学的对象名
          class:bean 对象所对应的权限定名:包名+类型
          name:也是对象别名，而且可以同时取多个
        -->
    <bean id="userT" class="com.min.pojo.UserT" name="userT2,u2">
        <property name="name" value="ggg"/>
    </bean>


</beans>